canvas {
  background: #ffffff !important;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.konvajs-content {
  margin: auto;
}

.mt-6 {
  margin-top: 5rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-primary {
  background-color: #375a7f !important;
}

.background-default {
  background: #e1effc !important;
}

.card-item {
  cursor: pointer;
}

.card-item:hover {
  background: #b3d4fc;
}

.list-image {
  width: 12.6rem !important;
  height: 3.9rem !important;
}

.img-thumbnail:hover {
  background: #b3d4fc;
}

.list-element-bar {
  height: 40rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #dbdddf;";
}

.input-tool-bar {
  width: 2rem !important;
  height: 2rem !important;
  padding: .1rem .1rem !important;
}

/* HIDE RADIO */
.radio-image {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radio-image + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.radio-image:checked + img {
  outline: 3px solid #3048bf;
}

.top-bar {
  display: -ms-flexbox;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #dbdddf;
}

.button-top-bar {
display: inline-flex;
align-items: center;
justify-content: center;
width: 4rem;
height: 4rem;
background-color: transparent;
box-sizing: border-box;
transition: .3s;
border: none;
border-radius: 0;
border-right: .1rem solid #dbdddf;
}

.add-item {
  padding: 1rem;
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.buttom-item {
  padding: .3rem !important;
  width: 2rem;
}

.input-group {
  flex-wrap: nowrap !important;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

/* SRCOLL */
::-webkit-scrollbar-track {
  background-color: #a4a19f;
}
::-webkit-scrollbar {
  width: 6px;
  background: #a4a19f;
}
::-webkit-scrollbar-thumb {
  background: #4f4e4e;
}
