<div class="container">

  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="#" class="navbar-brand">Crie o seu cartão de negócios</a>
    </div>
  </div>

  <!-- BARRA LATERAL ESQUERDA -->
  <div class="tab-content float-left col-3 p-0 mt-6 list-element-bar box-shadow" id="myTabContent">
    <!-- ADICIOANR IMAGEM -->
    <div class="add-item background-default box-shadow">
      <button class="btn btn-info" data-toggle="modal" data-target="#modalSelcionarImagens" title="Adicionar uma imagem">
        <i class="fas fa-plus"></i> <i class="far fa-file-image"></i>
      </button>

      <!-- ADICIOANR TEXTO -->
      <button class="btn btn-info" ng-click="addText();" title="Adicionar um texto">
        <i class="fas fa-plus"></i> <i class="fa fa-text-height"></i>
      </button>
    </div>

    <!-- LISTAGEM DE ELEMETNOS -->
    <div ng-repeat="element in newCard track by $index" ng-click="selectElement(element);">
      <div class="input-group" style="margin: .5rem 0; border: 1px solid #59a5ce;">
        <div class="input-group-prepend d-block cursor-pointer" style="width: 2rem;">

          <!-- MOVER PARA CIMA -->
          <button class="btn btn-sm btn-light h-50" ng-click="moveElement(element, -1);" ng-disabled="$index === 0" title="Mover para cima">
            <i class="fas fa-arrow-up"></i>
          </button>

          <!-- MOVER PARA BAIXO -->
          <button class="btn btn-sm btn-light h-50" ng-click="moveElement(element, 1);" ng-disabled="$index === (newCard.length -1)" title="Mover para baixo">
            <i class="fas fa-arrow-down"></i>
          </button>
        </div>

        <textarea class="form-control" type="text" ng-model="element.tempText" ng-if="element.attrs.text"
                  ng-change="updateText(element);" ng-model-options="{debounce: 500}" rows="2"></textarea>

        <div class="input-group-append img-thumbnail" ng-if="element.attrs.image">
          <img class="responsive list-image" src="{{element.attrs.imagePath}}">
        </div>

        <div class="input-group-append">
          <button class="btn btn-light buttom-item" type="button" ng-click="lockElement(element);" title="Travar movimento da camada">
            <label ng-hide="element.attrs.draggable"><i class="fas fa-lock"></i></label>
            <label ng-hide="!element.attrs.draggable"><i class="fas fa-lock-open"></i></label>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- PAINEL CENTRAL -->
  <div class="col-9 float-left mt-6">
    <div class="form-group form-inline p-2 background-default box-shadow">
      <!-- SELCIONAR COR DA FONTE -->
      <div class="input-group ml-2" ng-if="elementSelected.attrs.text">
        <div class="input-group-prepend cursor-grabbing">
          <div class="input-group-text"><i class="fas fa-fill-drip"></i></div>
        </div>
        <input class="form-control input-tool-bar" type="color" value="#000000" id="example-color-input" ng-model="elementSelected.attrs.fill"
               ng-change="changeTextFontColor(elementSelected)" ng-model-options="{debounce: 500}">
      </div>

      <!-- SELCIONAR FONTES -->
      <div class="input-group ml-2" ng-if="elementSelected.attrs.text">
        <div class="input-group-prepend cursor-grabbing">
          <div class="input-group-text"><i class="fas fa-font"></i></div>
        </div>
        <select id="selecth1FontFamily" name="selectFontFamily" ng-model="elementSelected.attrs.fontFamily" ng-change="changeTextFont(elementSelected);">
          <option ng-repeat="font in fonts track by $index" style="font-family: {{font.font}};" value="{{font.font}}">{{font.name}}</option>
        </select>
      </div>

      <div class="btn-group ml-2" role="group" ng-if="elementSelected.attrs.text">
        <button class="btn btn-secondary input-tool-bar" type="button" ng-click="changeTextStyle(elementSelected, 'bold');" title="Negrito">
          <i class="fas fa-bold"></i>
        </button>

        <button class="btn btn-secondary input-tool-bar" type="button" ng-click="changeTextStyle(elementSelected, 'italic');" title="Itálico">
          <i class="fas fa-italic"></i>
        </button>

        <button class="btn btn-secondary input-tool-bar"  type="button" ng-click="changeTextDecoration(elementSelected, 'underline');" title="Sublinhado">
          <i class="fas fa-underline"></i>
        </button>
      </div>

      <!-- REMOVER ELEMENTO -->
      <div class="input-group ml-2">
        <button class="btn btn-secondary input-tool-bar" type="button" ng-click="removeElement();" title="Remover elemento">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>

    <!-- CANVAS -->
    <div class="p-3 background-default box-shadow" id="container" style="height: 31rem; margin-bottom: 1rem;"></div>

    <div class="form-group form-inline p-2 background-default box-shadow">
      <button class="btn btn-lg btn-info m-auto" ng-click="downloadImage();" title="Fazer o download da imagem!">Fazer download!</button>
    </div>
  </div>
</div>

<!-- MODAL PARA ESCOLHER A IMAGEM -->
<div class="modal fade" id="modalSelcionarImagens" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fechar modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-thumbnail float-left m-2" ng-repeat="img in images track by $index" ng-click="addImage(img.image);" data-dismiss="modal">
          <img class="responsive" src="{{img.image}}" style="width: 10rem;">
        </div>

        <!-- UPLOAD DE IMAGEM -->
        <div class="img-thumbnail float-left m-2 text-center" style="width: 10.5rem;">
          <img class="responsive" src="../assets/images/backgrounds/new.png" style="width: 8rem;">
          <input type="file" ng-file-select="onFileSelect($files)"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cancelar e fechar modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
